{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid mb-5">
        <h3>What is AryaBot?</h3>
        <p>
            AryaBot is a web app that can be used for purchasing limited and sought after sneakers and clothing. Nowadays the resell market is very vast and many people make a killing off
            of purchasing these sought after items and selling them for a marked up price, often for 3-4x the original asking price of the product. Speed is very important in these type
            of scenarios as many have bots and are racing to buy a product. Going manual is not the preferred way to purchase products anymore. Many sites have implemented anit-bot measures
            but the bot community puts in a lot of effort to surpass those and keep success high. AryaBot is my first take at trying to create my own bot. It is a very simple and dumbed down 
            version of what a full fledged bot is. AryaBot isn't the fastest bot in the market by any means but it still gives you an edge over users that try to purchase a product manually. I hope
            with more experience and research I can keep on adding features to make AryaBot a serious contendor in the market!
        </p>
    </div>

    <div class="container-fluid mb-5">
        <h3>About Me!</h3>
        <p>
            My name is Arya Hajikandi and I am currently a senior in my last semester at the University at Buffalo studying Computer Science. Computer Science has been a passion of mine since I was
            a freshman in High School. I was always very into the latest and greatest tech and my curiousity behind how the tech works and the software behind it fueled my drive and passion to get into
            this ever-changing field. To me there is nothing more rewarding than solving a problem, finding a bug, or creating a personal project that you worked very hard on and that's what kept me going
            in this area of study. Currently I am inerning at PerkinElmer and have been there since May. I have learned so much about the industry and so many more skills that I hadn't learned in school previously
            and I am very grateful for that as I feel like this greatly helped position me better for starting off my career after I graduate! 
        </p>
        <img src="static/arya.jpeg" width="25%" height="200"/>
    </div>

    <div class="container">
        <a class="mr-3" href="https://github.com/aryahaji"><img src="static/github.svg"/></a>
        <a href="https://www.linkedin.com/in/arya-hajikandi-60118114b/"><img src="static/linkedin.svg"/></a>
    </div>
{% endblock content %}