{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST", action="", novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Text a Joke!</legend>
                 <div class="form-group">
                    {{ form.phone.label(class="form-control-label") }}
                    {% if form.phone.errors %}
                        {{ form.phone(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>
                                    {{ error }}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.phone(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                <a href="{{ url_for('text') }}"><button class="btn btn-outline-info">Text Joke!</button></a>
            </div>
        </form>
    </div>
{% endblock content %}